# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- PyInstaller (Dossiers de construction) ---
build/
dist/

# --- Fichiers système ---
.DS_Store
Thumbs.db

# --- Données Utilisateur (Pour ne pas envoyer ta progression perso) ---
data/bingo_config.json
data/bingo_default.csv